body{
  display: flex;
  justify-content: center;
  background-color: rgb(247,248,252);
  
}

.main{
  height: 550PX;
  width: 300PX;
  font-family:  "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(255,255,255);
  border-color: rgb(223,238,240);
  font-weight: 550;
  box-shadow: 3px 3px 5px 6px #dceff1;
  margin-top: 90px;
}
.menu{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: rgb(187,200,212);
}
.s-name{
  margin: 10px;
  font-size: x-small;
 

}
.m-ioc{
  font-size : 20px;
  }

.song-1,.liric{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-top: -20px;
}
.liric{
  margin-top: 8px;
}
.n1,.n2{
  font-size: 14px;
  font-weight: 550;
}
.n2{
  font-size: 12px;
}
.img{
  margin: 15px;
  display: flex;
  justify-content: center;
  
}
.i1{
  display: flex;
  justify-content: center;
  height: 130px;
}

.timing{
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  color: rgb(157,165,190);
  font-weight: 500;
}
.d1{
  margin-left: 25px;
}
.d2{
  margin-right: 25px;
}
.logos{
  display: flex;
  justify-content: space-around;
  margin: 18px;
  color: rgb(182,182,182);
}
.fa-circle-play{
  font-size: 33px;
  margin-top: -10px;
  color: rgb(148,148,148);
}
.list-1,.list-3,.list-4{
  margin: 30px;
  display: flex;
  justify-content: space-between;
  color:rgb(148,148,148);
  font-size: small;
}  
.list-2{
  margin: 25px;
  margin-left: -10px;
  display: flex;
  
  justify-content: space-between;
  font-size: 13px;
}
.point{
  margin-top: -23px;
  margin-left: 20px;
  margin-right: -25px;
  font-size:39px;
  color:rgb(73,189,180);

}

